{% extends "universidad/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="card-title">Formulario de Personas</div>

                        <form method="post" action="">
                            {% csrf_token %}
                            <label for="nombre">Nombre</label>
                            <input class="form-control" type="text" name="nombre" id="nombre" value="{{ alumno.nombre }}">
                            <br>
                            <label for="apellido">Apellido</label>
                            <input class="form-control" type="text" name="apellido" id="apellido" value="{{ alumno.apellido }}">
                            <br>
                            <label for="registro">Registro</label>
                            <input class="form-control" type="text" name="registro" id="registro" value="{{ alumno.registro }}">
                            <br>
                            <label for="ciudad">Ciudad</label>
                            <input class="form-control" type="text" name="ciudad" id="ciudad" value="{{ alumno.ciudad }}">
                            <br>
                            <label for="edad">Edad</label>
                            <input class="form-control" type="text" name="edad" id="edad" value="{{ alumno.edad }}">
                            <br>
                            <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                            <input class="form-control" type="date" name="fecha_nacimiento" id="fecha_nacimiento"
                                   value="{{ alumno.fecha_nacimiento | date:"Y-m-d" }}">
                            <br>
                            <input class="btn btn-primary" type="submit" value="Guardar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}