{% extends "universidad/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="card-title">Formulario de Docentes</div>

                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form.as_div }}
                            <input class="btn btn-primary" type="submit" value="Guardar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}