{% extends "universidad/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="card-title">Lista de Materias</div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Créditos</th>
                                <th>Docente</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for materia in materias %}
                                <tr>
                                    <td> {{ materia.id }}</td>
                                    <td> {{ materia.nombre }}</td>
                                    <td> {{ materia.creditos }}</td>
                                    <td> {{ materia.docente.nombres }} {{ materia.docente.apellidos }}</td>
                                    <td>
                                        <a class="btn btn-primary"
                                           href="{% url "materias_edit" materia.id %}">Editar</a>
                                    </td>
                                    <td>
                                        <form action="{% url "materias_delete" materia.id %}" method="post">
                                            {% csrf_token %}
                                            <input class="btn btn-danger" type="submit" value="Eliminar">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}